.Card.Body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .card-text-container {
    flex-grow: 1;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }